{"http_interactions":[{"request":{"method":"post","uri":"https://api.twitter.com/1.1/statuses/update.json","body":{"encoding":"UTF-8","string":"status=this+is+a+tweet+from+the+rails+test+suite+with+vcr"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:52:58 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["20575bcd054a852dcbd9b93d45db77b1"], "X-Response-Time":["72"], "X-Transaction":["f574a0be393ad771"], "X-Tsa-Request-Body-Time":["9"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"{\"created_at\":\"Thu Jul 23 16:52:58 +0000 2015\",\"id\":624260928293330944,\"id_str\":\"624260928293330944\",\"text\":\"this is a tweet from the rails test suite with vcr\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003etweeter to learn me some code \\u003c\\/a\\u003e\",\"truncated\":false,\"in_reply_to_status_id\":null,\"in_reply_to_status_id_str\":null,\"in_reply_to_user_id\":null,\"in_reply_to_user_id_str\":null,\"in_reply_to_screen_name\":null,\"user\":{\"id\":612925514,\"id_str\":\"612925514\",\"name\":\"Drew Fink\",\"screen_name\":\"finkafink\",\"location\":\"\",\"description\":\"Bio\",\"url\":null,\"entities\":{\"description\":{\"urls\":[]}},\"protected\":true,\"followers_count\":34,\"friends_count\":23,\"listed_count\":0,\"created_at\":\"Tue Jun 19 22:51:49 +0000 2012\",\"favourites_count\":5,\"utc_offset\":-21600,\"time_zone\":\"Mountain Time (US \u0026 Canada)\",\"geo_enabled\":false,\"verified\":false,\"statuses_count\":9,\"lang\":\"en\",\"contributors_enabled\":false,\"is_translator\":false,\"is_translation_enabled\":false,\"profile_background_color\":\"C0DEED\",\"profile_background_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_background_images\\/587004621\\/iejvu544ipu1iti5gtw6.jpeg\",\"profile_background_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_background_images\\/587004621\\/iejvu544ipu1iti5gtw6.jpeg\",\"profile_background_tile\":true,\"profile_image_url\":\"http:\\/\\/pbs.twimg.com\\/profile_images\\/2323768076\\/twitter_normal.jpg\",\"profile_image_url_https\":\"https:\\/\\/pbs.twimg.com\\/profile_images\\/2323768076\\/twitter_normal.jpg\",\"profile_banner_url\":\"https:\\/\\/pbs.twimg.com\\/profile_banners\\/612925514\\/1349024743\",\"profile_link_color\":\"0084B4\",\"profile_sidebar_border_color\":\"C0DEED\",\"profile_sidebar_fill_color\":\"DDEEF6\",\"profile_text_color\":\"333333\",\"profile_use_background_image\":true,\"has_extended_profile\":false,\"default_profile\":false,\"default_profile_image\":false,\"following\":false,\"follow_request_sent\":false,\"notifications\":false},\"geo\":null,\"coordinates\":null,\"place\":null,\"contributors\":null,\"is_quote_status\":false,\"retweet_count\":0,\"favorite_count\":0,\"entities\":{\"hashtags\":[],\"symbols\":[],\"user_mentions\":[],\"urls\":[]},\"favorited\":false,\"retweeted\":false,\"lang\":\"en\"}"},"http_version":null},"recorded_at":"Thu, 23 Jul 2015 16:52:57 GMT"},{"request":{"method":"get","uri":"https://api.twitter.com/1.1/statuses/home_timeline.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Disposition":["attachment; filename=json.json"], "Content-Type":["application/json;charset=utf-8"], "Last-Modified":["Thu, 23 Jul 2015 16:52:58 GMT"], "Status":["200 OK"], "X-Access-Level":["read-write"], "X-Connection-Hash":["c9a7c3f4e2fc57be0368608e42d75317"], "X-Rate-Limit-Limit":["15"], "X-Rate-Limit-Remaining":["13"], "X-Rate-Limit-Reset":["1437671277"], "X-Response-Time":["55"], "X-Transaction":["dee27d7ebc70e5f4"], "X-Twitter-Response-Tags":["BouncerCompliant"]},"body":{"encoding":"ASCII-8BIT","string":"[{\"created_at\":\"Thu Jul 23 16:52:58 +0000 2015\",\"id\":624260928293330944,\"id_str\":\"624260928293330944\",\"text\":\"this is a tweet from the rails test suite with vcr\",\"source\":\"\\u003ca href=\\\"http:\\/\\/127.0.0.1:3000\\\" rel=\\\"nofollow\\\"\\u003etweeter to learn me some code \\u003c\\/a\\u003e\",\"truncated\":f[...]
